header {
  background-color: #878561; }

.logoPrincipal {
  height: 220px;
  width: auto; }

.menuPrincipal {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  color: white;
  font-size: 15px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 10px; }
  .menuPrincipal a {
    text-decoration: none;
    color: white; }

.menuPrincipal a:hover {
  color: black; }

form {
  text-align: center; }

.letraIconos {
  font-size: 15px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.recursosHumanos, .recursosHumanos--nuevo {
  text-align: center;
  margin-left: 3px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.recursosHumanos--nuevo {
  font-size: 15px; }

.divisionInput, .divisionInput--nuevo {
  margin-left: 3px;
  margin-top: 20px;
  font-size: 15px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.divisionInput--nuevo {
  color: red; }

.input {
  margin-left: 3px;
  margin-top: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.piePagina {
  color: white;
  font-size: 15px; }
  .piePagina a {
    text-decoration: none;
    color: white; }

h1 {
  color: black; }

.header__logo {
  height: 220px;
  width: auto; }

.header__container__nav__listado {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  color: white;
  font-size: 15px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 10px; }
  .header__container__nav__listado a {
    text-decoration: none;
    color: white; }
  .header__container__nav__listado a:hover {
    color: black; }

.servicios__titulo {
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center; }

.servicios__parrafo {
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  padding: 10px; }

.servicios__listado {
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  padding: 15px;
  text-align: center; }

.nuestrosServicios__titulo {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  color: white;
  font-size: 15px;
  margin-bottom: 10px; }

.nuestrosServicios__parrafo {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  color: white;
  font-size: 15px;
  margin-bottom: 10px; }

.titulosPrincipales {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-left: 40px;
  padding: 40px;
  display: grid;
  grid-template-columns: 550px 550px;
  grid-template-rows: 150px 150px;
  grid-column-gap: 30px;
  grid-row-gap: 20px; }

.titulosPrincipales__contenedor__titulo {
  font-size: 15px;
  font-weight: bold; }

.titulosPrincipales__contenedor__listado {
  font-size: 10px; }

.footer__piePagina {
  margin: 5px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .footer__piePagina a {
    color: white;
    text-decoration: none; }

body {
  background-color: #878561; }

.header__logo {
  height: 220px;
  width: auto; }
